.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

.card__image:hover {
  filter: brightness(60%);
}

.card__footer {
  margin: 25px 15px 31px 21px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.card__title {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
