.edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-image: url(../images/edit-icon.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
}

.edit-button:hover {
  opacity: 0.6;
}
