* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.page {
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 40px;
  }
}

@media screen and (max-width: 544px) {
  .page {
    padding: 20px;
  }
}
