.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0008;
}

.popup__confirmation-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 36px;
  margin: auto;
  width: 430px;
  background-color: #fff;
  border-radius: 10px;
}

.popup__confirm-button {
  height: 50px;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
}

.popup__confirm-button:hover {
  opacity: 0.8;
}

.popup__image-container {
  position: relative;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  display: block;
  margin: auto;
}

.popup__container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 36px;
  margin: auto;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
}

.popup__text {
  color: #000;
}

.popup__close-button {
  position: absolute;
  top: -30px;
  right: -30px;
}

@media screen and (max-width: 544px) {
  .popup__container {
    margin: 5px;
  }
  .popup__close-button {
    right: 10px;
  }
}
