.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.profile__pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
}

.profile__pic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  background-image: url(../images/edit-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  opacity: 0;
  border-radius: 50%;
}

.profile__pic:hover::before {
  opacity: 1;
}

.profile__pic-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__data {
  margin: auto auto auto 0;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  align-items: baseline;
  column-gap: 18px;
  row-gap: 16px;
}

.profile__name {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  grid-column: 2;
  grid-row: 1;
}

.profile__description {
  grid-column: 1 / -1;
  grid-row: 2;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  flex-shrink: 0;
}

@media screen and (max-width: 544px) {
  .profile {
    flex-direction: column;
    gap: 30px;
  }

  .profile__data {
    justify-items: center;
    margin: auto;
  }

  .profile__name {
    max-width: 100%;
  }
}
